/* About Us Page */
.about-us-block {
    width: 100vw;
    height: fit-content;
}

/* abbreviated about-us-block to aub for better readability */


.aub-heading, .aub-quote, .aub-description {
    color: white;
    font-family: 'Dynapuff', Arial, sans-serif, serif;
    text-align: center;
}

.aub-description {
    padding: 0% 25% 0% 25%;
}

.aub-quote {
    text-align: center;
    background: linear-gradient(to top,rgb(24, 30, 58),#727db3);
    margin: 0px 20px 0px 20px;
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
}

.aub-description {
    letter-spacing: 2px;
}

@media screen and (max-width: 551px) {
    .aub-description {
        padding: 0% 12.5% 0% 12.5%;
    }
}

/* background: linear-gradient(rgb(24, 30, 58), #727db3) */