/* About Us Page */
.about-us-block {
    width: 100vw;
    height: fit-content;
}

/* abbreviated about-us-block to aub for better readability */

.aub-first {
    background: linear-gradient(rgb(24, 30, 58), #727db3);
}

.aub-second {
    background: linear-gradient(to top, rgb(24, 30, 58), #727db3);
}

.aub-third {
.aub-description-block {
    max-width: 700px;
}


.aub-heading, .aub-quote, .aub-description {
    color: white;
    font-family: 'Dynapuff', Arial, sans-serif, serif;
}
/* background: linear-gradient(rgb(24, 30, 58), #727db3) */