/* Main Interface of the Website */

html {
    background-color: #12162B;
    margin: 0;
}

body {
    margin: 0;
}

.nav-bar-container {
    width: 100vw;
    background: rgb(24, 30, 58);
    position: sticky;
    top: 0;
}

.nav-bar {
    display: grid;
    padding: 1vw 0px 1vw 0px;
    border-radius: 5px;
    grid-template-columns: repeat(3, calc(100vw/3));
    grid-template-rows: fit-content;
    text-align: center;
}
