/* Main Interface of the Website */

html {
    background-color: #12162B;
    margin: 0;
}

body {
    margin: 0;
}

.nav-bar-container {
    width: 100vw;
    background: rgb(24, 30, 58);
    position: sticky;
    top: 0;
}
