/* Main Interface of the Website */

html {
    background-color: #12162B;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: white black;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

a { text-decoration: none; color: inherit; }

h1 { 
    color: white;
}

.content-area {
    width: 100vw;
}

.home-block {
    height: fit-content;
    min-height: 450px;
    max-height: 550px;
    background: linear-gradient(rgb(24, 30, 58),#727db3);
}

.home-block2 {
    height: 500px;
    max-height: 500px;
    background: linear-gradient(to top,rgb(24, 30, 58),#727db3);
}

.icon {
    padding: 25px 0px 0px 0px;
    font-size: 180px;
    background-image: linear-gradient(270deg, #2A3465, black);
    color: transparent;
    background-clip: text;
    text-align: center;
    margin: 0;
}

.quote {
    position: relative;
    bottom: 30px;
    text-align: center;
    font-size: 70px;
    font-family: 'Cherry Bomb One', sans-serif, serif;
    background-image: linear-gradient(0deg, #2A3465, rgb(24, 30, 58), #2a34651b);
    color: transparent;
    background-clip: text;
    margin: 0;
}

.cards-section {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: 500px;
}

.cards-item, .c2-heading, .c2-footer {
    font-family: 'Cherry Bomb One', Arial, sans-serif, serif;
}

.cards-item {
    margin: 0% 0% 0% 15%;
    width: 70%;
    background: linear-gradient(to bottom,rgb(24, 30, 58),#727db3);
    text-align: center;
    border-radius: 30px;
    color: white;
}

.c2-heading {
    margin: 0px 0px 0px 10px;
    background: linear-gradient(180deg, #2A3465, rgb(24, 30, 58), #2a34651b);
    background-clip: text;
    color: transparent;
    font-size: 8vw;
}

.c2-footer {
    margin: 20px 0px 10px 0px;
    color: white;
}

@media screen and (max-width: 864px) {
    .cards-section {
        grid-template-columns: repeat(4, calc(120%/3));
        grid-template-rows: 320px;
        gap: 20px;
        margin: 30px 0px 30px 0px;

    }
    .cards-item {
        margin: 0%;
        width: 100%;
    }
    .cards-item p {
        padding: 0px 5px 0px 5px;
        font-size: 3.5vw;
    }
    .deal-title, .deal-description {
        margin: 20% 0% 0% 0%;
    }
    .c2-heading {
        font-size: 7vw;
    }
    .c2-footer {
        margin: 0px 0px 0px 10px;
    }
}

@media screen and (max-width: 500px) {
    .cards-section {
        grid-template-rows: 250px;
        margin: 60px 0px 60px 0px;
    }
    .cards-item p {
        font-size: 4vw;
    }
}


/* end */


/* Navigation Bar */ 
.nav-bar-container {
    width: 100vw;
    background: rgb(24, 30, 58);
    position: sticky;
    top: 0;
}

.nav-bar {
    display: grid;
    padding: 1vw 0px 1vw 0px;
    border-radius: 5px;
    grid-template-columns: repeat(3, calc(100vw/3));
    grid-template-rows: fit-content;
    text-align: center;
}

.nav-bar a {
    color: white;
    font-family: 'Cherry Bomb One', Arial, sans-serif, serif;
}

/* end */
.end {
    padding: 50px 0px 50px 0px;
    background-color: #12162B;
}


/* Media Queries */
@media screen and (max-width: 544px) {
    .quote {
        font-size: 12vw;
    }
}