{% extends "base.html" %}

{% block title %} About Us {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <div class="about-us-block aub-first">
        <p class="aub-heading">Dream Pizzas' Purpose</p>
        <div class="aub-box-description">
            <p class="aub-description motto">'Serving pizzas like you dreamt of it'</p>         
        </div>    
    </div>
    <div class="about-us-block aub-second"></div>
    <div class="about-us-block aub-third"></div>
</html>
{% endblock %}