{% extends "base.html" %}

{% block title %} About Us {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <div class="about-us-block aub-first">
        <h1 class="aub-heading">Our Purpose</h1>
        <div class="aub-quote">
            <span>Where dreams become reality, so too can pizza</span>
        </div>
        <h1 class="aub-heading">For the People, Meant for the People</h1>
        <div class="aub-quote">
            <span>A space meant to be shared, open for dreamers</span>
        </div>
        <h1 class="aub-heading">Sustainability</h1>
        <div class="aub-quote">
            <span>Zero Space for Waste, All Space for Dreams Only</span>
        </div>
    </div>
    <div class="about-us-block aub-second"></div>
    <div class="about-us-block aub-third"></div>
</html>
{% endblock %}