{% extends "base.html" %}

{% block title %} About Us {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <div class="about-us-block aub-first">
        <h1 class="aub-heading">Our Purpose</h1>
        <div class="aub-quote">
            <span>Where dreams become reality, so too can pizza</span>
        </div>
        <div class="aub-description-block">
            <p class="aub-description">
                At Dream Pizza, it is within our best interests to satisfy our customers and express it through genuine effort.
                A simple dish served to you isn't how Dream Pizza would call a dreamy experience. Simply put, an experience is something worthwhile, 
                something memorable, and brings comfort. This is the long-term goal that we wish to achieve. We work hard to bring the best and be the best.
                We believe that this is the experience that people who visit Dream Pizza should have. 
            </p>
        </div>
    </div>
        <h1 class="aub-heading">For the People, Meant for the People</h1>
        <div class="aub-quote">
            <span>A space meant to be shared, open for dreamers</span>
        </div>
        <div class="aub-description-block">
            <p class="aub-description">
                We believe that people dream better when sharing and are united with each other. Dream Pizza sees this as an opportunity to find people who can set the example, be the example.
                Fair treatment is a must and safety is a priority. Shared Dreams are good dreams. Whether you enter or exit as a visitor, you will always be a dreamer, setting heights for yourself and others.
            </p>
        </div>
    </div>
        <h1 class="aub-heading">Sustainability</h1>
        <div class="aub-quote">
            <span>Zero Space for Waste, All Space for Dreams Only</span>
        </div>
        <div class="aub-description-block">
            <p class="aub-description">
                Through careful decision-making and judging how we operate, we believe that the reduction of plastics and biodegradable products are effective.
                We challenge operations through frequent assessments, acquiring feedback from communities to reduce the impact we may have towards the environment. 
                Our collective effort helps to dream for a better Earth. A happy earth calls for a happy pizza.
            </p>
        </div>
    </div>
    <div class="about-us-block aub-second"></div>
    <div class="about-us-block aub-third"></div>
</html>
{% endblock %}