<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/sample.css">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1JUHYYayfXV-3frwkKfIvm0T57g8FPPxvp-4WkLQ0qA&s=10">
    <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
    <title>{% block title %} Dream Pizzas {% endblock %}</title>
</head>
<body>
    <div class="nav-bar-container">
        <div class="nav-bar">
            {% for links, details in links.items() %}
            <div>
                <a href="{{ details['link'] }}">{{ details['name'] }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="content-area">
        {% block content %}
        <div class="concept-block">
            <p class="icon">&#9730;</p>
            <p class="quote">Dreaming of a Pizza?</p>
        </div>
        <div class="concept-block2">
        </div>
        {% endblock %}
    </div>>
        <div class="end">
            <span style="color: white;">
                Made by Dream Pizzas, 2026
            </span>
        </div>
</body>
</html>