<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/sample.css">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1JUHYYayfXV-3frwkKfIvm0T57g8FPPxvp-4WkLQ0qA&s=10">
    <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
    <title>{% block title %} Dream Pizzas {% endblock %}</title>
</head>
<body>
    <div class-="titleHeading">
        <h1 id="titleHeading">Dream Pizzas</h1>
    </div>
    <div class="options">
        <button class="button"><a href="{{ url_for('home') }}">Home</a></button>
        <button class="button"><a>About Us</a></button>
        <button class="button"><a>Menu</a></button>
    </div>
    <div class="bigText">
        <div id="tinytext1">
            <p>˚˖𓍢ִ໋❀ The Pizza of Your Dreams ☆*⁀‧₊˚</p>
        </div>
    </div>
    <div>
        {% block content %}
        <div class="board-grid">
            <div class="card-section">
                <div class="card-item card-item1">
                    <p class="card-symbol">&#9728;</p>
                    <!--Sun-->
                </div>
                <div class="card-item card-item2">
                    <p class="card-symbol">&#9729;</p>
                    <!--Cloud-->
                </div>
                <div class="card-item card-item3">
                    <p class="card-symbol">&#9730;</p>
                    <!--Umbrella-->
                </div>
            </div>
            <div class="section-description">
                <p style="color: white;">Many options, so gooddddddd</p>
                    </div>
                </div>  
            {% endfor %}        
        </div>
        <h1 class="listHeading">Night Expanse</h1>
        {% endblock %}
        <div class="end">
            <span style="color: white;">
                Made by Dream Pizzas, 2026
            </span>
    </div>
</body>
</html>