<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Dream Pizzas</title>
</head>
<body>
    <h1>Dream Pizzas</h1>
    <div class="options">
        <button class="button"><a href="{{ url_for('home') }}">Home</a></button>
        <button class="button"><a>About Us</a></button>
        <button class="button"><a>Menu</a></button>
    </div>
</body>
</html>